<Jumbo>
  <h2>About Super Rentals</h2>
  <p>
    The Super Rentals website is a delightful project created to explore Ember.
    By building a property rental site, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
  <p>
    Вебсайт Super Rentals - это выдающийся проект, созданный в процессе исследования Ember.
    Создавая сайт поиска жилья, мы одновременно мысленно путешествуем И создаем приложение Ember.
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>