<div class="container">
  <NavBar />
  <div class="body">
    {{outlet}}
  </div>
  <p> @ Megapeehapb
  <div id="current_date_time_block"></div>

  <script type="text/javascript">
    /* функция получения текущей даты и времени */
    function date_time()
    {
      var current_datetime = new Date();
      var year = current_datetime.getFullYear();

      return year;
    }
    /* выводим текущий год на сайт в блок с id "current_date_time_block" */
    document.getElementById('current_date_time_block').innerHTML = date_time();
  </script>
  </p>
</div>